@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    list-style: none;
    font-family: "Roboto", Arial, Helvetica, sans-serif;

    button {
        background: none;
        cursor: pointer;
    }
}

:root {
    --primary: #1976d2;
    --body: #FFF;
    --text-menu: #FFF;
    --text-body: #4b4b4b;
}

:root .dark-thema {
    --primary: #0D47A1;
    --body: #4b4b4b;
    --text-menu: #FFF;
    --text-body: #FFF;
}

body {
    background-color: var(--body);
}

.container {
    width: 510px;
    margin: 0 auto;
    h1 {
        font-weight: 700;
        font-size: 25px;
        margin: 50px 0 10px;
    }

    p {
        font-weight: 400;
        font-size: 16px;
    }

    h1,
    p {
        color: var(--text-body);
    }
}